<%= stylesheet_link_tag "show", :media => "all" %>

<body>
　<h5>Book was successfully created.</h5>

  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @book.body %>
  </p>
</body>


  <%= link_to "Edit", edit_book_path(@book.id) %>
  |
  <a href="/books">Back</a>